body {
    margin: 0;
    font-family: 'Satisfy', cursive;
    background-image: url("images/back.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(97, 47, 97);
}

.boutonmenuprincipal {
    background-color:white;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.dropdown {
    position: relative;
    display: flex;
    font-size: 25px;
}

.dropdown-child {
    display: none;
    background-color:darkseagreen;
    min-width: 10px;
}

.dropdown-child a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
   display: block;
}

nav {
   position: absolute;
}

header {
    position: absolute;
    margin: 0;
}

h1{
    text-align: center;
    margin: 0;
    font-size: 50px;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;   
}

.entête{
    background-image: url("images/tete.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 80px;
}

p{
    font-size: 26px;
}

li{
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    margin : 0px 10px 0px 10px;
    font-size: 20px;
}

ul {
    list-style-type:none;
    padding:  0;
    margin: 0;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 130px;
}

h3, h2{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 50px;
}

.first {
    margin-top: 120px;
}

.kayak {
    margin-left: 20px;
    display: flex;
}

.kayak, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.skyscanner {
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skyscanner, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.airbnb{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.airbnb, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.booking{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.booking, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.tripadvisor{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tripadvisor, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.googletrad{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: stretch;
}

.googletrad, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
    justify-content: flex-start;
}

.googletrad, p, img{
    justify-content: space-between;
}


.linguee{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: stretch;
}

.linguee, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
    justify-content: flex-start;
}

.linguee, p, img{
    justify-content: space-between;
}


.ministere{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: stretch;
}

.ministere, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
    justify-content: flex-start;
}

.vpn{
    margin-left: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: stretch;
}

.vpn, p {
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    padding: 0;
    justify-content: flex-start;
}

.styled {
    border: 0;
    line-height: 4;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(78, 116, 128);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(53, 172, 132);
}

.button{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
} 

article{
    display: flex;
    width: 180px;
    height: 120px;
    align-items: center;
    border-radius:40px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    background-color:  rgb(114, 165, 139);
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}

.article :hover{
    background-color: mediumseagreen;
    opacity: 0.8;
}

.article{
    display: flex;
    justify-content: space-around;
}

article, a{
    text-decoration: none;
    color: black;
}

#scroll_to_top { 
    position: fixed; 
    width: 40px;
    height: 40px; 
    bottom: 50px; 
    right: 30px; 
} 

#scroll_to_top img { 
    width: 60px; 
}

.livre1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

.paralivre {
    width: 500px;
    height: 350px;
}

.paralivre p {
    margin-bottom: 60px;
}

.comp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-left: 40px;   
}

.comp p {
    font-size: 20px;
}

.comp article {
    font-size: 20px;
}